/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    background: #151516;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    line-height: 110%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}
p{
    color: #d2d1d1;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 18px;
}
span{
    color: red;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style-type: none;
}
.row{
    margin-bottom: 30px;
}
.row:last-child{
    margin-bottom: 0;
}
.button{
    background: red;
    padding: 12px 30px;
    font-weight: 500px;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    margin-top: 22px;
    border: 2px solid transparent;
    transition: 0.5s ease-out;
    display: inline-block;
}
.button.room:hover{
    color: #fff;
    opacity: 0.8;
}
.button.sign-up{
    background: transparent;
    border: 2px solid red;
    color: #E50914;
    margin-top: 22px;
}
.button.sign-up:hover{
    border-color: red;
    color: #fff;
    background: red;
    transition: 0.5s ease-out;
}