/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    background: #151516;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    line-height: 110%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}
p{
    color: #d2d1d1;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 18px;
}
span{
    color: red;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style-type: none;
}
html::-webkit-scrollbar{
    width: 0.5rem;
    background: #000000;
}
html::-webkit-scrollbar-thumb{
    background: #E50914;
    border-radius: 5rem;
}
.row{
    margin-bottom: 30px;
}
.row:last-child{
    margin-bottom: 0;
}
.button{
    background: red;
    padding: 12px 30px;
    font-weight: 500px;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    margin-top: 22px;
    border: 2px solid transparent;
    transition: 0.5s ease-out;
    display: inline-block;
}
.button.room:hover{
    color: #fff;
    opacity: 0.8;
}
.button.sign-up{
    background: transparent;
    border: 2px solid red;
    color: #E50914;
    margin-top: 22px;
}
.button.sign-up:hover{
    border-color: red;
    color: #fff;
    background: red;
    transition: 0.5s ease-out;
}
/*============================================================ NAVIGATION BAR ==========================================================*/
.navbar{
    background:#000000;
    transition: 0.5s ease-out;
    padding: 15px 0;
}
.navbar .navbar-brand img{
    width: 160px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
}
.navbar .navbar-nav li{
    padding: 0 10px;
}
.navbar .navbar-nav li .nav-link{
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    transition: all 0.3s ease;
}
.navbar .navbar-nav li:hover .nav-link{
    color: #E50914;
    background-color: #292929;
}
.navbar .navbar-toggler{
    border-radius: 0;
    border: 0;
}
.navbar .navbar-toggler i{
    font-size: 28px;
}
.navbar .navbar-toggler:focus{
    outline: 0;
}
.navbar.navbar-fixed{
    background: #fff;
    transition: 0.5s ease-out;
}
/*============================================================ HOME SECTION ============================================================*/
.home{
    padding: 175px 0;
    position: relative;
    height: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}
.home .home-bg{
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
}
.home h1{
    font-weight: 600;
}
.home h3{
    font-family: 'Lora', serif;
    text-align: left;
}
.home .content p{
    margin-bottom: 30px;
    color: #ffffff;
}
.home .content-image img{
    width: 100%;
}
.home ul li{
    display: inline-block;
}
.home ul li:last-child{
    margin-left: 15px;
}
/*============================================================ ABOUT SECTION ===========================================================*/
.about{
    height: 100vh;
    width: 100%;
    background-color: #141414;
}
.about .content{
    margin-top: 7rem;
}
.about .content-image img{
    width: 100%;
    margin-top: 8rem;
}
.about .content h2{
    font-weight: 700;
}
.about .content h3{
    text-align: left;
    font-weight: 600;
    color: #ffffff;
    margin-top: 3rem;
}
/*========================================================== OUTRO SECTION ==========================================================*/
.parallax{
    background: url(../images/parallax-bg.jpg) repeat fixed 100%;
    background-size: cover;
}
}
.parallax-inner{
    padding-top: 15%;
    padding-bottom: 15%;
    background-color:rgba(0, 0, 0, 0.75);
    box-shadow: 5px 10px 20px black inset;
}
.parallax-inner h5, h3{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.parallax-inner h3{
    font-weight: 500;
    font-family: 'Poppins' serif;
}
.parallax a{
    color: #E50914;
}
.parallax a:hover{
    color: #E50914;
}