/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    background: #151516;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    line-height: 110%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}
p{
    color: #d2d1d1;
}
h1{
    font-size: 36px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
}
h6{
    font-size: 18px;
}
span{
    color: #E50914;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style-type: none;
}
html::-webkit-scrollbar{
    width: 0.5rem;
    background: #000000;
}
html::-webkit-scrollbar-thumb{
    background: #E50914;
    border-radius: 5rem;
}
/*============================================================ NAVIGATION BAR ==========================================================*/
.navbar{
    background:#000000;
    transition: 0.5s ease-out;
    padding: 15px 0;
}
.navbar .navbar-brand img{
    width: 160px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
}
.navbar .navbar-nav li{
    padding: 0 10px;
}
.navbar .navbar-nav li .nav-link{
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    transition: all 0.3s ease;
}
.navbar .navbar-nav li:hover .nav-link{
    color: #E50914;
    background-color: #292929;
}
.navbar .navbar-toggler{
    border-radius: 0;
    border: 0;
}
.navbar .navbar-toggler i{
    font-size: 28px;
}
.navbar .navbar-toggler:focus{
    outline: 0;
}
.navbar.navbar-fixed{
    background: #fff;
    transition: 0.5s ease-out;
}
.user{
    float: left;
    position: relative;
    cursor: pointer;
    align-items: center;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
}
.user-icon{
    color: #fff;
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: xx-large;
}
.nav-item .bx:hover{
    color: #E50914;
}
.nav-item .user button:focus{
    outline: none;
}
/*============================================================ HOME SECTION ============================================================*/
.home{
    padding: 175px 0;
    position: relative;
    height: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}
.home .home-bg{
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
}
.home h1{
    font-weight: 600;
}
.home h3{
    font-family: 'Lora', serif;
    text-align: left;
}
.home .content p{
    margin-left: 10px;
    margin-bottom: 30px;
    color: #ffffff;
}
.home .content-image img{
    width: 100%;
}
.home ul li{
    display: inline-block;
}
.home ul li:last-child{
    margin-left: 15px;
}
.row{
    margin-bottom: 30px;
}
.row:last-child{
    margin-bottom: 0;
}
.button{
    background: #E50914;
    padding: 12px 30px;
    font-weight: 500px;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    margin-top: 22px;
    border: 2px solid transparent;
    transition: 0.5s ease-out;
    display: inline-block;
}
.button.room:hover{
    color: #fff;
    opacity: 0.8;
}
.button.sign-up{
    background: transparent;
    border: 2px solid #E50914;
    color: #E50914;
    margin-top: 22px;
}
.button.sign-up:hover{
    border-color: #E50914;
    color: #fff;
    background: #E50914;
    transition: 0.5s ease-out;
}
/*============================================================ ABOUT SECTION ===========================================================*/
.about{
    height: 100vh;
    width: 100%;
    background-color: #141414;
}
.about .content{
    margin-top: 7rem;
}
.about .content-image img{
    width: 100%;
    margin-top: 8rem;
}
.about .content h2{
    font-weight: 700;
}
.about .content h3{
    text-align: left;
    font-weight: 600;
    color: #ffffff;
    margin-top: 3rem;
}
/*========================================================== OUTRO SECTION ==========================================================*/
.parallax{
    background: url(../images/parallax-bg.jpg) repeat fixed 100%;
    background-size: cover;
}
.parallax-inner{
    padding-top: 15%;
    padding-bottom: 15%;
    background-color:rgba(0, 0, 0, 0.75);
    box-shadow: 5px 10px 20px black inset;
}
.parallax-inner h5, h3{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.parallax-inner h3{
    font-weight: 500;
    font-family: 'Poppins' serif;
}
.parallax a{
    color: #E50914;
}
.parallax a:hover{
    color: #E50914;
}
/*========================================================== SERVICES SECTION ==========================================================*/
.services{
    height: 100vh;
    width: 100%;
    background-color: #141414;
}
.services-title{
    padding-top: 6rem;
    margin-bottom: 2rem;
    text-align: center;
}
.services-title .title-top{
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 4px;
    font-size: 18px;
}
.services-title h5{
    padding-left: 5px;
    padding-right: 5px;
}
.services-title h3{
    font-size: 36px;
    font-weight: 800px;
}
.services a{
    cursor: pointer;
}
.services .sub-button a:active{
    transform: scale(1.5);
    color: #E50914;
}
.content .sub-button{
    background: #E50914;
    border: 2px solid #E50914;
    color: #fff;
    margin-top: 22px;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.services .content{
    text-align: center;
    padding: 15px;
    background:#141414;
    border: 2px solid #E50914;
    border-radius: 15px;
    transition: all 0.3s ease;
}
.services .content:hover{
    background: #E50914;
}
.services .content .icon i{
    color: #E50914;
}
.services .content .icon{
    padding: 5px;
    border-radius: 15px;
    position: relative;
    display: inline-block;
}
.services .content:hover i,
.services .content:hover h5,
.services .content:hover p,
.services .content:hover a{
    color: #fff;
    text-decoration: none;
}
.services .content:hover .sub-button{
    background: #fff;
    color: #E50914;
}
.services .content i{
    font-size: 60px;
    color: #fff;
}
.services .content h5{
    margin-bottom: 10px;
}
.services .row{
    min-height: 20rem;
}
/*============================================================ MOVIES SECTION ==========================================================*/
#movies{
    background-color: #151516;
    max-width: 1920px;
    height: max-content;
    padding-left: 5rem;
    padding-right: 5rem;
    /* padding-bottom: 7rem; */
    margin: auto;
    /* padding-bottom: 3rem; */
    width: 100%;
    position: relative;
    overflow: hidden;
}
.movies .heading, .search-bar{
    margin-left: 10px;
}
.movies .heading h2{
    padding-top: 1rem;
    font-weight: 600;
}
.watchlist-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 7.5rem 1.5rem;
    cursor: pointer;
    padding-bottom: 3rem;
}
.watchlist-card{
    position: relative;
    width: 100%;
    height: 380px;
}
.watchlist-card img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.watchlist-title{
    font-weight: 500;
    padding-top: 10px;
}
.watchlist-text{
    position: absolute;
    margin-top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.watchlist-text h2,
.watchlist-text span,
.watchlist-text p{
    color: #fff;
}
.watchlist-text p{
    font-size: 13px;
}
.watchlist-text i{
    float: right;
    margin-top: -5px;
    margin-right: 1px;
    color: orange;
    font-size: 48px;
}
.watchlist-card:hover .watchlist-text{
    height: 100%;
}
.movies .mobile-text{
    visibility: visible;
    overflow: hidden;
    position: relative;
    padding-bottom: 2rem;
    padding-top: 5px;
    line-height: normal;
    
}
.watchlist-text h2, .mobile-text h2{
    font-size: 20px;
    color: #fff;
}
.mobile-text h2:hover{
    color: #E50914;
}
.mobile-text span{
    font-size: 15px;
    color: #d2d1d1;
}
.mobile-text p{
    font-size: 12px;
}
/* Search bar */
.movies .search-bar{
    overflow: hidden;
    max-width: 240px;
    /* float: right; */
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    column-gap: 0.7rem;
    padding: 8px 15px;
    background: #292929;
    border-radius: 5px;
    z-index: 2;
    margin: 0 10px 15px;
}
.search-bar .bx{
    color: #fff;
}
.search-bar .bx:active{
    transform: scale(1.5);
    color: #E50914;
}
.search-bar .bx:hover{
    cursor: pointer;
    color: #E50914;
}
#search-input{
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    font-size: 0.938rem;
}
/*===========================================================  USER  SECTION  ===========================================================*/
.account{
    background-color: #151516;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #fff;
}
.form-content header{
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: 600;
    color: #000000;
    text-align: center;
}
form{
    margin-top: 30px;
}
form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    padding: 0 15px;
    border: 1px solid #d2d1d1;
    outline: none;
}
.field button{
    color: #fff;
    background-color: #E50914;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #b5050d;
}
.field button:focus{
    outline: none;
}
.form-link span{
    color: #000000;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
}
.form a{
    color: #E50914;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}
/*=========================================================== FOOTER SECTION ===========================================================*/
footer{
    background: #000000;
    padding: 20px 20px 20px;
}
footer h5{
    color: #fff;
}
footer .content ul li a{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
footer a{
    color: #f8f8fc;
    text-decoration: none;
    font-size: 10px;
}
.copyright{
    background: #000000;
    text-align: center;
    padding: 35px 0 35px;
    border-top: 1px solid rgb(91, 91, 91);
}
footer ul li{
    margin-bottom: 8px;
}
footer ul li a{
    color: #707070;
}
footer ul li a i{
    margin-right: 10px;
}
.copyright p{
    color: #fff;
    font-weight: 100;
    margin: 0;
}
/*================================================================  RESPONSIVENESS ===============================================================*/
@media(max-width: 1400px){
    .home .content h2{
        font-size: 40px;
    }
    .about .content-image{
        visibility: visible;
    }
    .about{
        height:fit-content;
        padding-bottom: 5rem;
    }
    .about .content{
        padding-bottom: 5rem;
    }
    .services{
        height: fit-content;
    }
    .services .content{
        padding-bottom: 2rem;
    }
    .services .row:last-child{
        padding-bottom: 5rem;
    }
    .watchlist-content{
        grid-template-columns: repeat(auto-fit, minmax(190px, auto));
    }
    .watchlist-card{
        height: 290px;
    }
    #movies{
        padding: 5rem;
    }
    .movies .heading h2{
        padding-top: 1rem;
    }
@media (max-width: 992px){
    .home .content h2{
        font-size: 40px;
    }
    .about .content-image{
        visibility: visible;
    }
    .about{
        height: max-content;
    }
    .about .content{
        padding-bottom: 5rem;
    }
    .services{
        height: fit-content;
    }
    .services .content{
        padding-bottom: 2rem;
    }
    .services .row:last-child{
        padding-bottom: 5rem;
    }
    .watchlist-content{
        grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    }
    .watchlist-card{
        height: 290px;
    }
    #movies{
        padding: 3rem;
    }
    .movies .heading h2{
        padding-top: 3rem;
    }
}

@media (max-width: 768x){
    .about{
        height: fit-content;
    }
    .about .content-image{
        display: none;
    }
    .about .content{
        margin-top: 3rem;
    }
    .parallax h3{
        font-size: 18px;
    }
    .parallax h5{
        font-size: 11px;
    }
    .watchlist-content h2{
        font-size: 24px;
    }
    .watchlist-content span,
    .watchlist-content p{
        font-size: 12px;
    }
    .services-title{
        padding-top: 5rem;
    }
    .services{
        height: fit-content;
    }
    .services .content{
        margin-bottom: 1rem;
    }
    .services .row{
        column-gap: 1rem;
    }
    .services .row:last-child{
        padding-bottom: 3rem;
    }
    footer .row .content{
        font-size: 8px;
    }
    footer .copyright{
        font-size: 8px;
    }
    .watchlist-content{
        grid-template-columns: repeat(auto-fit, minmax(160px, auto));
        padding: 1rem 1rem;
    }
    .watchlist-card{
        height: 250px;
        padding-bottom: 10px;
    }
    #movies{
        padding: 2rem;
    }
    .movies .heading h2{
        padding-top: 4rem;
    }
    .movies .mobile-text{
        padding-bottom: 1rem;
    }
    .mobile-text .mobile-title{
        font-size: 14px;
    }
    .mobile-text span,
    .mobile-text p{
        font-size: 12px;
    }
}
@media (max-width: 375px){
    .home{
        height: 100vh;
    }
    .home .content{
        font-size: 16px;
    }
    .about .content-image{
        display: none;
    }
    .about{
        height: 100vh;
    }
    .about .content{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .services-title{
        padding-top: 5rem;
    }
    .parallax h3{
        font-size: 18px;
    }
    .parallax h5{
        font-size: 11px;
    }
    .watchlist-content h2{
        font-size: 12px;
    }
    .watchlist-content span,
    .watchlist-content p{
        font-size: 8.5px;
    }
    .services{
        height: fit-content;
    }
    .services-title h5{
        padding-left: 5px;
        padding-right: 5px;
    }
    /*Not working anymore :// */
    .services .content{
        margin-bottom: 1rem;
    }
    .services .row{
        padding-bottom: 1rem;
    }
    .services .container{
        column-gap: 1rem;
        row-gap: 1rem;
    }
    .services .row:last-child{
        padding-bottom: 5rem;
    }
    .watchlist-content{
        grid-template-columns: repeat(auto-fit, minmax(140px, auto));
        gap: 4.5rem 1.5rem;
    }
    .watchlist-card{
        height: 190px;
        padding-bottom: 1rem;
    }
    footer .row .content{
        font-size: 8px;
    }
    footer .copyright{
        font-size: 8px;
    }
    #movies{
        padding: 1rem;
    }
    .movies .heading h2{
        padding-top: 3rem;
    }
    .mobile-text{
        padding-bottom: 1rem;
    }
    .mobile-text .mobile-title{
        font-size: 10px;
    }
    footer .copyright{
        font-size: 10px;
    }
}
}